@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body { font-family: 'Inconsolata', monospace; }

figure.image img {
  padding: 8px;
  background: #ffffff;
  border: 1px solid #eee;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: auto;
  margin: 0 auto;
}

.content figure figcaption h4 {
  color: #aaa;
  text-align: center;
  font-style: italic;
  margin-top: 12px;
  font-size: 12px;
  font-weight: bold;
}

section.index article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

section.index article + article {
  margin-top: 15px;
}
