body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inconsolata, monospace;
  margin: 0;
  height: 50vh;
  background-color: #fefefe;
}

h1 {
  color: #66633A;
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  color: #66633A;
  font-size: 20px;
  margin: 0;
}

div.profile {
  text-align: center;
}

p {
  padding-bottom: 5px;
}

a {
  color: #5690BE;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  text-decoration: none;
}

a.suse {
  color: #30BA78;
}

span.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  font-size: inherit;
  line-height: inherit;
}

span.github {
  fill: #24292e;
}

span.linkedin {
  fill: rgb(0, 119, 181);
}

span.twitter {
  fill: rgb(29, 161, 242);
}
