<!doctype html>

<html {{ with .Site.LanguageCode }} lang="{{ . }}" {{ end }}>
  <head>
    <title>{{ .Site.Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="{{ "css/minireset.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "css/home.css" | relURL }}"/>
  </head>
  <body>
    <div class="profile">
      <h1>David Díaz</h1>
      <p>
        A software developer from Las Palmas de Gran Canaria working at <a class="suse" href="https://www.suse.com/">SUSE</a>
      </p>
          {{- $social := ( .Site.Params.social ) -}}
          {{- range $platform, $username := $social -}}
                <a aria-label="{{ $platform }}"
                   href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}'
                   target='_blank'
                   rel='noopener'>
                        <span class="{{ $platform }} icon">
                              <i class>
                                {{- partial "svg/icons" $platform -}}
                              </i>
                        </span>
                </a>
          {{- end -}}
    </div>
  </body>
</html>
