<!doctype html>

<html {{ with .Site.LanguageCode }} lang="{{ . }}" {{ end }}>
  <head>
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/minireset.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "css/home.css" | relURL }}"/>
  </head>
  <body>
    <div class="profile">
      <h1>» David Díaz «</h1>
      <div class="profile-picture">
        <img src="/website/media/david_diaz.jpeg" />
      </div>
      <p>
        A software developer from Las Palmas de Gran Canaria working at SUSE.
      </p>
      <a href="/website/blog/">Blog</a>
      <a href="/website/hi-there">About me</a>
    </div>
  </body>
</html>
